<section class="w-full min-h-screen bg-cover bg-center">
    <div class="w-full max-w-full overflow-hidden">
        <img src="https://clubdelconocimiento.co.pwc.com/pwc--cc/ArchivosRepo/Imagenes%20Slides/ImgSlide1.avif"
            alt="course" class="w-full h-auto object-cover" />
    </div>

    <article class="mx-auto mt-8 py-6 px-4 md:px-8 items-center text-center">
        <div>
            <h2 class="text-4xl mb-4 font-serif">
                Aprender, <span class="text-[#d04a02] font-bold">transforma</span>
            </h2>
            <hr class="border-[#d04a02] border-2 w-185 mx-auto mb-5">

            <p class=" max-w-3xl mx-auto text-gray-700 leading-relaxed mb-12">
                Acompañamos a nuestros clientes a generar confianza y lograr resultados que transformen sus
                organizaciones y
                a la sociedad.
                Estructurados de acuerdo a los perfiles y las necesidades de las empresas, a través de contenidos que
                integran la visión internacional frente a la realidad nacional, promoviendo estrategias innovadoras en
                diferentes temas.
            </p>
        </div>
    </article>

    <section>
        <div class="px-4 md:px-12 max-w-screen-xl mx-auto">
            <div class="flex flex-col md:flex-row gap-12 items-center">
                <img src="https://media.istockphoto.com/id/1413766112/es/foto/exitoso-hombre-de-negocios-maduro-mirando-a-la-c%C3%A1mara-con-confianza.jpg?s=612x612&w=0&k=20&c=_wh29d41PN8a3GlqANKphBMIkN2P-QI4KPPIM7bVvDA="
                    alt="Clases" class="w-full rounded-2xl md:w-[500px] object-cover" />

                <div class="max-w-xl">
                    <h3 class="text-3xl font-serif mb-6">
                        Educación <span class="font-bold">ejecutiva</span>
                    </h3>

                    <div class="flex gap-6 mb-6">
                        <button
                            class="bg-[#d04a02] font-bold text-white px-6 py-3 rounded flex items-center gap-2 hover:bg-[#dcd7d5] hover:text-black duration-1000 transition">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                            </svg>
                            Cursos y Diplomados
                        </button>
                        <button
                            class="bg-gray-200 font-bold text-black px-6 py-3 rounded flex items-center gap-2 hover:bg-[#b0aba9] hover:text-black duration-1000 transition">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                            </svg>
                            In Company
                        </button>
                    </div>
                    <p class="mb-6 text-gray-700 leading-relaxed max-w-lg">
                        Participar en uno de nuestros programas de formación permitirá a los participantes tener un
                        crecimiento significativo en su carrera profesional. La flexibilidad de nuestros programas y su
                        implementación garantizan la autonomía en la consecución personal de las capacidades que
                        necesita un
                        líder del futuro.
                    </p>

                    <button
                        class="bg-[#d04a02] text-white px-6 py-3 rounded font-semibold hover:bg-[#dcd7d5] hover:text-black duration-1000 transition">
                        Conoce nuestros programas
                    </button>
                </div>
            </div>
        </div>
    </section>
    <app-cards></app-cards>

</section>